<!doctype html>
<html lang="{{ htmllang() }}">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>
            {%- if record.title is defined %}{{ record.title|striptags }} | {% endif -%}
                {{ config.get('general/sitename') -}}
            {% if record.title is not defined and config.get('general/payoff') %} | {{ config.get('general/payoff') }}{% endif -%}
        </title>
        <link href="https://fonts.googleapis.com/css?family=Bitter|Roboto:400,400i,700" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('css/bulma.css', 'theme') }}">
        <link rel="stylesheet" href="{{ asset('css/theme.css', 'theme') }}">
    </head>
    <body{% if app.request.get('_route') == "homepage" %} class="front"{% endif %}>
        <a href="#main-content" class="visually-hidden focusable skip-link">Skip to main content</a>

        {% block body %}

            <header role="banner" class="header">
            {{ include('partials/_navbar.twig') }}
            {{ include('partials/_header.twig') }}
            </header>

            {{ widgets('main_top') }}

            <a id="main-content"></a>
            {% block main %}
            {% endblock main %}

            {{ widgets('main_bottom') }}

        {% endblock body %}

        {{ include('partials/_footer.twig') }}

    </body>
</html>


