{# Navbar #}
<nav class="navbar is-fixed-top is-primary" role="navigation" aria-label="main navigation">
    <div class="container">
        <div class="navbar-brand">
            <span class="navbar-item">
                {{ config.get('general/sitename') }}
            </span>
            <span class="navbar-burger" data-target="navbar-toggle">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div class="navbar-menu" id="navbar-toggle">
            <div class="navbar-start">
                {{ menu(template = 'partials/_sub_menu.twig') }}
            </div>
            <div class="navbar-end">
                <form class="field has-addons" method="get" action="{{ path('search') }}" enctype="text/plain">
                    <label class="label is-hidden" for="search">Search</label>
                    <div class="control">
                        <input class="input" type="search" value="{% if search is defined %}{{ search|escape }}{% endif %}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search" id="search">
                    </div>
                    <div class="control">
                        <button class="button is-black" type="submit">{{ __('general.phrase.search') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</nav>
