{# The next section iterates over all of the contenttypes, and prints a list
    of the five latest records of each of them. The 'magic' happens in the
    setcontent tag.. `ct.slug` is set to each of the (visible) contenttypes,
    and `latest limit 5` ensures we grab the 5 latest published records.
#}
<section class="section section-pages hero is-primary is-bold">
    <div class="container">
        <div class="columns">
            {% for ct in config.get('contenttypes')|filter(ct => not ct.viewless and not ct.singleton) %}
                {% setcontent records = ct.slug latest limit 5 %}
                {% if records|length %}
                    <div class="column">
                        <div class="card">
                            <div class="content card-content">
                                <h2 class="is-size-4">{{ __('contenttypes.generic.recent', {'%contenttypes%': ct.name}) }}</h2>
                                <ul>
                                    {% for record in records %}
                                        <li><a href="{{ record|link }}">{{ record|title }}</a></li>
                                    {% else %}
                                        <li>{{ __('contenttypes.generic.no-recent', {'%contenttype%': ct.slug}) }}</li>
                                    {% endfor %}
                                </ul>
                                <a class="button is-primary" href="{{ path('listing', {'contentTypeSlug': ct.slug}) }}">{{ __('contenttypes.generic.overview',{'%contenttypes%': ct.name}) }}</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
