<!-- Header bar -->
<header class="header-fp">
    <div class="header-fp-wrapper">
        {# we want a background image on this wrapper. Can we do this per screensize somehow? #}
        <div class="header-fp-content">
            {# the values in the 'config' object are taken directly from the file app/config/config.yml #}
            <h1><a href="{{ path('homepage') }}">{{ config.get('general/sitename') }}</a></h1>
            {% if config.get('general/payoff') %}
            <h2>{{ config.get('general/payoff') }}</h2>
            {% endif %}
            <a class="button transparent" href="{{ relative_path(content_link|e) }}">{{ __('general.phrase.read-more') }}</a>
        </div>
    </div>
</header>