<!-- Navbar -->
<nav class="navbar navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            {{ config.get('general/sitename') }}
        </a>

        <button class="button navbar-burger is-black" id="navbar-toggle">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a href="#" class="navbar-item">Item 1</a>
            <a href="#" class="navbar-item">Item 2</a>
            <a href="#" class="navbar-item">Item 3</a>
            <a href="#" class="navbar-item">Item 4</a>
        </div>

        <div class="navbar-end">
            <form class="field has-addons" method="get" action="{{ path('search') }}" enctype="text/plain">
                <div class="control">
                    <input class="input" type="search" value="{{ search|default() }}" placeholder="{{ __('general.phrase.search-ellipsis') }}" name="search">
                </div>

                <div class="control">
                    <button class="button is-info" type="submit">{{ __('general.phrase.search') }}</button>
                </div>
            </form>
        </div>
    </div>
</nav>