{% extends 'partials/_master.html.twig' %}

{% block main %}
<article>

    <h1>{{ record|title }}</h1>

    {# Remove this include if you don't need it anymore. #}
    {{ include('partials/_fresh_install.html.twig') }}

    {% include 'partials/_social.html.twig' %}

    {% include 'partials/_picture.html.twig' with {'image': record|image, 'size': 800 } %}

    <div class="copy">
        <div class="meta">
            (something that goes here)
        </div>
        <p>
            {{ record.teaser }}
        </p>
        <a class="btn" href="{{ record|link }}">{{ __('general.phrase.read-more') }}</a>
    </div>
</article>
{% endblock main %}