{% extends 'partials/_master.html.twig' %}

{% block main %}
    <article>
        <h1>{{ record|title }}</h1>
        {% include 'partials/_social.html.twig' %}
        <picture>
            <source srcset="{{ record|thumbnail(1280, 700) }}" media="(min-width: 800px)" />
            <img src="{{ record|thumbnail(1280, 700) }}" alt="" />
        </picture>
        <div class="copy">
            <div class="meta">
                (something that goes here)
            </div>
            <p>
                {{ record.teaser }}
            </p>
            <a class="btn" href="{{ record|link }}">{{ __('general.phrase.read-more') }}</a>
        </div>
    </article>
{% endblock main %}