<!DOCTYPE html>
<html class="no-js" lang="nl_NL" data-theme="light">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {%- if record|default and record.title -%}
        {{- record.title ~ ' | ' -}}
        {%- endif -%}
        {{- config.get('general/sitename') -}}
        {%- if record|default == null and config.has('general/payoff') -%}
        {{- ' | ' ~ config.get('general/payoff') -}}
        {%- endif -%}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
</head>

<body class="mobile_menu">
    <header>
        <a class="show-on-mobile menu" href="#" onclick="window.history.go(-1); return false;">
        Close
        <div class="nav-icon">
            <div></div>
        </div>
    </a>

    </header>
    <main>
        {% block main %}
            {{ menu(template = 'partials/_sub_menu.twig') }}
        {% endblock main %}
    </main>
</body>

</html>