{% setcontent entries = "entries" latest limit 4 %}

{% for entry in entries %}
    <div class="card">
        {% if loop.index <= 2 %}
        <picture class="aspect-ratio-wide">
        <source
            srcset="{{ entry|thumbnail(300, 100) }} 320w, 
                    {{ entry|thumbnail(800, 600) }} 800w, 
                    {{ entry|thumbnail(1200, 1000) }} 1200w"
            sizes="(min-width: 320px) 100vw"
            alt="(Image description)">
            <img src="{{ entry|thumbnail(800, 600) }}" alt="(Image description)" loading="lazy" >
        </picture>
        {% endif %}
        <div>
            <h2>{{ entry|title }}</h2>
            <p>{{ entry|excerpt(260) }}</p>
        </div>
        <a class="btn" href="{{ entry|link }}">Read more</a>
    </div>
{% endfor %}
