<!DOCTYPE html>
<html class="no-js" lang="nl_NL" data-theme="light">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        {%- if record|default and record.title -%}
            {{- record.title ~ ' | ' -}}
        {%- endif -%}
        {{- config.get('general/sitename') -}}
        {%- if record|default == null and config.has('general/payoff') -%}
            {{- ' | ' ~ config.get('general/payoff') -}}
        {%- endif -%}
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800&display=swap" rel="stylesheet" />
    <script src="{{ asset('js/modernizr-custom.js', 'theme') }}"></script>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
</head>

<body class="{% block bodyclass %}home{% endblock %}">
    <header>
        {% include 'partials/_header.html.twig' %}
        {% block pageheader %}
            (The pageheader goes here)
        {% endblock %}
    </header>
    <main>

        {% block main %}
            <article>
                (This is <code>block main</code>)
            </article>
        {% endblock main %}
        <aside>
            {% block aside %}
                {% include 'partials/_latest_entries.html.twig' %}
            {% endblock aside %}
        </aside>

    </main>
    <section>
        <div class="block">
            <p>Omnes enim iucundum motum, quo sensus hilaretur</p>
            <a class="link-effect" href="">Read more</a>
        </div>
    </section>

    {% include 'partials/_footer.html.twig' %}

</body>

<script defer src="js/app.js"></script>

</html>