{% extends 'partials/_master.twig' %}

{% block main %}

{# Remove this block if you don't need it anymore. #}
{{ include('partials/_fresh_install.twig') }}

<section class="section section-widgets">
    <div class="columns">
        <div class="column is-two-thirds">
            <div class="notification is-info">
            widget 1
            </div>
        </div>

        <div class="column">
            <div class="notification is-danger">
            widget 2
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <h1 class="title is-size-1">{{ record.title }}</h1>
                    {{ record.teaser }}

                {% if record.body is not empty %}
                <a class="button expanded" href="{{ record.link }}">» Continue reading</a>
                {% endif %}
            </div>

            <div class="column">
                <div class="notification">
                aside listings
                </div>
            </div>
        </div>
    </div>
</section>

<!--
{% if record is defined %}
<article class="main-article">
    <div class="container">
        <div class="columns">
            <div class="column">
                <figure class="image">
                    {{ popup(record.image, 1200, 500) }}
                </figure>
            </div>

            <div class="column">
                <div class="main-article-content">
                    <header>
                        <h1 class="title is-size-1">{{ record.title }}</h1>
                    </header>

                    {{ record.teaser }}
                </div>

            {% if record.body is not empty %}
            <a class="button expanded" href="{{ record.link }}">» Continue reading</a>
            {% endif %}
            </div>
        </div>
        {#{{ include('partials/_recordfooter.twig', { 'record': record }) }}#}
    </div>
</article>
{% endif %}
-->

<section class="section section-showcases">
    <div class="container">
        <div class="columns">
            <div class="column is-one-third">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>

                    <div class="content">
                        <h1>showcase title</h1>
                        <p>showcase teaser</p>
                    </div>

                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="#">Showcase link</a>
                        </p>
                    </footer>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>

                    <div class="content">
                        <h1>showcase title</h1>
                        <p>showcase teaser</p>
                    </div>

                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="#">Showcase link</a>
                        </p>
                    </footer>
                </div>
            </div>

            <div class="column">
                <div class="card">
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>

                    <div class="content">
                        <h1>showcase title</h1>
                        <p>showcase teaser</p>
                    </div>

                    <footer class="card-footer">
                        <p class="card-footer-item">
                            <a href="#">Showcase link</a>
                        </p>
                    </footer>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Latest entries -->

<section class="section section-latest-entries">
    <div class="container">
    <div class="tile is-ancestor">
        {% setcontent entries = 'entries/latest/3' %}
        {% for entry in entries %}

        {% if loop.first %}
        <div class="tile is-8 is-parent">
            <article class="tile is-child box">
                <header>
                    <h1 class="title"><a href="{{ entry.link }}">{{ entry.title }}</a></h1>
                </header>

                <figure class="image">
                {{ popup(entry.image, 1200, 500) }}
                </figure>

                {{ record.teaser }}

                <a class="button expanded" href="{{ entry.link }}">» Continue reading</a>
            </article>
        </div>

        {% else %}


        {% if loop.index == 2 %}<div class="tile is-vertical is-parent">{% endif %}
            <article class="tile is-child box">
                <header>
                     <h1 class="title"><a href="{{ entry.link }}">{{ entry.title }}</a></h1>
                </header>

                {{ entry.teaser }}

                <a class="button expanded" href="{{ entry.link }}">» Continue reading</a>
            </article>

        {% if loop.last %}</div>{% endif %}


        {% endif %}
        {% endfor %}

    </div>
    </div>
</section>

{% endblock main %}


{#

<section class="section">
    <div class="columns">
        {% setcontent entries = 'entries/latest/3' %}
        {% for entry in entries %}
        <div class="column">
            <article class="">
                <header>
                    <h1>{{ entry.title }}</h1>
                </header>

                <figure class="image">
                {{ popup(entry.image, 1200, 500) }}
                </figure>

                {{ record.teaser }}

                <a class="button" href="{{ record.link }}">» Continue reading</a>
            </article>
        </div>
        {% endfor %}
    </div>
</section>

#}
