{% extends 'partials/_master.twig' %}

{% block main %}

	{# This template is used for 'listings': Generic pages that list a number of
	           records from a certain content type. These records are available as an array
	           called 'records'. In the for-loop below, we iterate over the records that
	           are on this page. It can be used for overview pages like 'all entries', or
	           'all records tagged with kittens'. #}

	{# If used for listing a taxonomy, we add a heading #}
		{% if taxonomy is defined %}
			<h1>
		{{ __('general.phrase.overview-for', {'%slug%': taxonomy.options[slug]|default(slug) }) }}
	</h1>
	{% endif %}

		<section class="bg-gray-100 text-gray mt-16 w-full"> <div class="container px-5 py-24 mx-auto">
			<div class="-my-8">

				{% for record in records %}

					<div class="py-8 flex flex-wrap md:flex-no-wrap">
						<div class="md:w-64 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
							<span class="tracking-widest font-medium title-font text-gray-900">
								{% for type, taxonomies in record|taxonomies %}
									{% for taxonomy in taxonomies %}
										{{ taxonomy.name }}
									{% endfor %}
								{% endfor %}
							</span>
							<span class="mt-1 text-gray-500 text-sm">{{ record.publishedAt|date("d M Y")}}
							</span>
						</div>

						<div class="md:flex-grow">
							<h2 class="text-2xl font-medium text-black title-font mb-2">{{ record|title }}</h2>
							<p class="leading-relaxed text-black">
								{{ record|excerpt(300, false, search|default('')) }}
							</p>


							<a href="{{ record|link }}" class="text-indigo-500 inline-flex items-center mt-4">
								{{ __('general.phrase.read-more') }} &raquo;
							</a>
						</div>

						<div class="md:w-64 md:mb-0 mt-4 md:ml-4 mb-6 flex-shrink-0 flex flex-col">
							{% if record|image %}
								<img src="{{ record|thumbnail(400, 300, fit="crop") }}">
							{% endif %}
						</div>

					</div>

				{% else %}

					<h2 class="text-2xl font-medium text-black title-font mb-2">{{ __('general.phrase.no-content-found') }}</h2>
					<p class="leading-relaxed text-black">
						{{ __("Unfortunately, no content could be found. Try another page, or go to the <a href=\"%paths_root%\">homepage</a>.", {'%paths_root%': path('homepage')} ) }}
					</p>

				{% endfor %}

			</div>
		</div>
	</section>

{% endblock main %}