{% from 'macros.twig' import edit as edit %}

{% extends 'partials/_master.twig' %}

{% block main %}

<!--Container-->

<section class="bg-gray-100 mt-16 w-full">

  <div class="mb-4 md:mb-0 w-full mx-auto relative" style="height: 32em;">
    <div class="absolute left-0 bottom-0 w-full h-full z-10"
      style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.3));">
    </div>
    {% if record|image %}
      <img src="{{ record|image }}" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />
    {% endif %}

    <div class="flex flex-col p-4 w-full absolute bottom-0 left-0 z-20">
      <div class="w-full max-w-4xl mx-auto pb-20">
        <h1 class="text-2xl lg:text-5xl text-white font-semibold leading-tight" style="text-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.25);">
          {{ record|title }}
        </h1>
        {% include 'partials/_record_header_author.twig' %}
      </div>
    </div>

  {% include 'partials/_record_divider_top.twig' %}

  </div>

  <div class="container w-full max-w-3xl mx-auto text-black pt-20">

    <div class="w-full px-4 text-grey-darkest leading-normal">

      <!-- Record Content-->

      <article class="article">
        <h1>{{ record|title }} {{ edit(record) }}</h1>

        {% with { 'record': record, 'exclude': [record|image.fieldname|default(), 'teaser'] } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
        {% endwith %}
      </article>

      <!--/ Record Content-->

    </div>

    <!--Tags -->
    <div class="text-base md:text-sm text-grey px-4 py-6">
      {% for type, taxonomies in record|taxonomies %}
        {{ config.get('taxonomies/' ~ type).name }}:
        {% for taxonomy in taxonomies %}
          <a href="{{ taxonomy|link }}" class="text-base md:text-sm text-teal no-underline hover:underline">{{ taxonomy.name }}</a>
          {%- if not loop.last %}, {% endif %}
        {% endfor %}
        <br>
      {% endfor %}
    </div>

    <!--Divider-->
    {# If you have a newsletter, uncomment the following, to insert the subscription block #}
    {# {% include 'partials/_record_newsletter_sub.twig' %} #}


    {% include 'partials/_record_author.twig' %}

    <!--Divider-->
    <hr class="border-b-2 border-grey-light mb-8 mx-4">

    {% include 'partials/_record_prev_next.twig' %}

  </div>
</section>
<!--/container-->

{% endblock main %}
