{% extends 'partials/_master.html.twig' %}

{% block main %}

<!--Container-->

<section class="bg-gray-100 mt-16 w-full">

  <div class="mb-4 md:mb-0 w-full mx-auto relative" style="height: 24em;">
    <div class="absolute left-0 bottom-0 w-full h-full z-10"
      style="background-image: linear-gradient(180deg,transparent,rgba(0,0,0,.7));">
    </div>
    <img src="{{ record.image }}" class="absolute left-0 top-0 w-full h-full z-0 object-cover" />

    <div class="flex flex-col p-4 w-full absolute bottom-0 left-0 z-20">
      <div class="w-2/3 md:mx-auto pb-12">
        <a href="#" class="px-4 py-1 gradient text-gray-200 inline-flex items-center justify-center mb-2 rounded-md">
          {% for type, taxonomies in record|taxonomies %}
          {% for taxonomy in taxonomies %}
          {{ taxonomy.name }}
          {% endfor %}
          {% endfor %}
        </a>
        <h1 class="text-2xl lg:text-4xl font-semibold leading-tight">
          {{ record|title }}
        </h1>
        <div class="flex mt-3">
          <img src="https://randomuser.me/api/portraits/men/97.jpg" class="h-10 w-10 rounded-full mr-2 object-cover" />
          <div>
            <p class="font-semibold text-gray-200 text-sm"> By {{ record.Author }} </p>
            <p class="font-semibold text-gray-400 text-xs"> {{ record.publishedAt|date("d M")}} </p>
          </div>
        </div>
      </div>
    </div>

    <div class="absolute bottom-0 left-0 w-full z-20  -mt-12 lg:-mt-24">
      <svg viewBox="0 0 1428 174" version="1.1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g transform="translate(-2.000000, 44.000000)" fill="#f7fafc" fill-rule="nonzero">
            <path
              d="M0,0 C90.7283404,0.927527913 147.912752,27.187927 291.910178,59.9119003 C387.908462,81.7278826 543.605069,89.334785 759,82.7326078 C469.336065,156.254352 216.336065,153.6679 0,74.9732496"
              opacity="0.100000001"></path>
            <path
              d="M100,104.708498 C277.413333,72.2345949 426.147877,52.5246657 546.203633,45.5787101 C666.259389,38.6327546 810.524845,41.7979068 979,55.0741668 C931.069965,56.122511 810.303266,74.8455141 616.699903,111.243176 C423.096539,147.640838 250.863238,145.462612 100,104.708498 Z"
              opacity="0.100000001"></path>
            <path
              d="M1046,51.6521276 C1130.83045,29.328812 1279.08318,17.607883 1439,40.1656806 L1439,120 C1271.17211,77.9435312 1140.17211,55.1609071 1046,51.6521276 Z"
              id="Path-4" opacity="0.200000003"></path>
          </g>
          <g transform="translate(-4.000000, 76.000000)" fill="#f7fafc" fill-rule="nonzero">
            <path
              d="M0.457,34.035 C57.086,53.198 98.208,65.809 123.822,71.865 C181.454,85.495 234.295,90.29 272.033,93.459 C311.355,96.759 396.635,95.801 461.025,91.663 C486.76,90.01 518.727,86.372 556.926,80.752 C595.747,74.596 622.372,70.008 636.799,66.991 C663.913,61.324 712.501,49.503 727.605,46.128 C780.47,34.317 818.839,22.532 856.324,15.904 C922.689,4.169 955.676,2.522 1011.185,0.432 C1060.705,1.477 1097.39,3.129 1121.236,5.387 C1161.703,9.219 1208.621,17.821 1235.4,22.304 C1285.855,30.748 1354.351,47.432 1440.886,72.354 L1441.191,104.352 L1.121,104.031 L0.457,34.035 Z">
            </path>
          </g>
        </g>
      </svg>
    </div>
  </div>

  <div class="container w-full max-w-3xl  mx-auto text-black pt-20">

    <div class="w-full px-4 md:px-6 text-xl text-grey-darkest leading-normal">

      <!--Post Content-->

      <article class="article">
        {% with { 'record': record, 'exclude': [record|image.fieldname|default()] } %}
        {{ block('sub_fields', 'helpers/_fields.twig') }}
        {% endwith %}
      </article>

      <!--/ Post Content-->

    </div>

    <!--Tags -->
    <div class="text-base md:text-sm text-grey px-4 py-6">
      Tags: <a href="#" class="text-base md:text-sm text-teal no-underline hover:underline">Link</a> . <a href="#"
        class="text-base md:text-sm text-teal no-underline hover:underline">Link</a>
    </div>

    <!--Divider-->
    <hr class="border-b-2 border-grey-light mb-8 mx-4">

    <!--Subscribe-->
    <div class="container px-4">
      <div class="font-sans bg-white rounded-lg shadow-md p-4 text-center">
        <h2 class="break-normal text-xl md:text-3xl">Subscribe to my Newsletter</h2>
        <h3 class="break-normal font-normal text-grey-dark text-sm md:text-base">Get the latest posts delivered right
          to your inbox</h3>
        <div class="w-full text-center pt-4">
          <form action="#">
            <div class="max-w-sm mx-auto p-1 pr-0 flex flex-wrap items-center">
              <input type="email" placeholder="youremail@example.com"
                class="flex-1 mt-4 appearance-none border border-grey-light rounded shadow-md p-3 text-grey-dark mr-2 focus:outline-none">
              <button type="submit"
                class="flex-1 mt-4 block md:inline-block appearance-none gradient text-white text-base font-semibold tracking-wide uppercase py-4 rounded shadow hover:bg-teal-light">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <!-- /Subscribe-->

    <!--Author-->
    <div class="flex w-full items-center font-sans px-4 py-12">
      <img class="w-10 h-10 rounded-full mr-4" src="https://randomuser.me/api/portraits/men/97.jpg"
        alt="Avatar of Author">
      <div class="flex-1 px-2">
        <p class="text-base font-bold text-base md:text-xl leading-none mb-2">Jo Bloggerson</p>
        <p class="text-grey-dark text-xs md:text-base">Minimal Blog Tailwind CSS template by <a
            class="text-teal no-underline hover:underline"
            href="https://www.tailwindtoolbox.com">TailwindToolbox.com</a></p>
      </div>
      <div class="justify-end">
        <button
          class="bg-transparent border border-grey hover:border-teal text-xs text-grey hover:text-teal font-bold py-2 px-4 rounded-full">Read
          More</button>
      </div>
    </div>
    <!--/Author-->

    <!--Divider-->
    <hr class="border-b-2 border-grey-light mb-8 mx-4">

    <!--Next & Prev Links-->

    {% set previous = record|previous('id') %}
    {% set next = record|next('id') %}
    {% if previous or next %}

    <div class="font-sans flex justify-between content-center px-4 pb-12">
      <div class="text-left">
        <span class="text-xs md:text-sm font-normal text-grey-dark">&lt; Previous Post</span><br>
        {% if previous %}
        <p><a href="{{ previous|link }}"
            class="break-normal text-base md:text-sm text-teal font-bold no-underline hover:underline">
            {{ previous|title|excerpt(44) }}
          </a></p>
        {% endif %}
      </div>
      <div class="text-right">
        <span class="text-xs md:text-sm font-normal text-grey-dark">Next Post &gt;</span><br>
        {% if next %}
        <p><a href="{{ next|link }}"
            class="break-normal text-base md:text-sm text-teal font-bold no-underline hover:underline">
            {{ next|title|excerpt(44) }}
          </a></p>
        {% endif %}
      </div>
    </div>

    {% endif %}

    <!--/Next & Prev Links-->

  </div>
</section>
<!--/container-->

{% endblock main %}