{# The name of the `content` is passed in from the index, i.e. "blocks/introduction" #}
{% setcontent block = (content) returnsingle %}

{# The name of `contenttype` is passed in from the index, i.e. "pages" #}
{% setcontent records = (contenttype) limit 4 %}

<!-- Vertical block -->
<section class="bg-white border-b py-8">
	<div class="container max-w-5xl mx-auto m-8">
		{% include 'partials/_block_header.twig' %}

		{% for record in records %}
		<div class="flex flex-wrap {% if loop.index is even %}flex-col-reverse sm:flex-row{% endif %}">
			{% if loop.index is odd %}
				<div class="w-full sm:w-1/2 p-6">
					<img class="w-full object-cover object-center"
						 src="{{ record|thumbnail(500, 300, fit="crop") }}" {#alt="{{ record|image.title }}#}">
				</div>
			{% endif %}

			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">{{ record|title }}</h3>
				{{ record|excerpt(300, wrap=true) }}

				<a href="{{ record|link() }}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0 py-6">
					{{ __('general.phrase.read-more') }} &raquo;
				</a>

			</div>
			{% if loop.index is even %}
			<div class="w-full sm:w-1/2 p-6">
				<img class="w-full object-cover object-center"
					 src="{{ record|thumbnail(500, 300, fit="crop") }}" alt="{{ record|image.title }}">
			</div>
			{% endif %}
		</div>
		{% endfor %}

	</div>
</section>