{% from 'macros.twig' import edit as edit %}

{# The name of the `content` is passed in from the index, i.e. "homepage/1" #}
{% setcontent block = (content) returnsingle %}

<!-- Vertical block -->
<section class="bg-white border-b py-6">
	<div class="container max-w-5xl mx-auto m-8">

		<div class="flex flex-wrap ">

			<div class="w-5/6 sm:w-1/2 p-6">
				<h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">{{ block|title }} {{ edit(block) }}</h3>
				{{ block.introduction }}

			</div>

			{% if record|image %}
				<div class="w-full sm:w-1/2 p-6">
					<img class="w-full object-cover object-center"
						 src="{{ block|thumbnail(500, 300, fit="crop") }}" alt="{{ record|image.title }}">
				</div>
			{% endif %}

            <div class="w-full  p-6">
                {{ block.content }}
            </div>
		</div>

	</div>
</section>
