{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-page">
    <div class="container">
        <div class="columns">
            <div class="column is-two-thirds">
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                    {% include 'partials/_record_meta.twig' with {'extended': true} %}

                    {{ record.teaser }}

                    {% if record.image is not empty %}
                    <figure class="image">
                        <img src="{{ record.image|image(640, 360, "r") }}" alt="{{ record.values.image.alt|default() }}" />
                        {# <img src="https://bulma.io/images/placeholders/640x360.png"> #}
                        <figcaption>
                            {{ record.values.image.title|default() }}
                            {# Figure 1: Some beautiful placeholders #}
                        </figcaption>
                    </figure>
                    {% endif %}

                    {{ record.body }}

                    {# If there are repeaters, we should output them. #}
                    {% with { 'record': record, 'common': false, 'repeaters': true, 'blocks': true, 'exclude': ['teaser', 'body', 'image'] } %}
                    {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}

                    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                    {{ dump(record) }}
                    #}

                    {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
                </article>
            </div>
            <div class="column">
                {{ include('partials/_aside.twig') }}
            </div>
        </div>
    </div>
</section>

{% endblock main %}
