{% extends 'partials/_master.twig' %}

{% block main %}

<section class="section section-record">
    <div class="container">
        {% if record.image is not empty %}
        <figure class="image is-2by1">
            <img src="{{ record.image|image(1280, 660) }}" alt="{{ record.values.image.alt|default() }}" />
            <figcaption>
                {{ record.values.image.title|default() }}
            </figcaption>
        </figure>
        {% endif %}

        <div class="columns is-centered">
            <div class="column is-two-thirds">
                <article role="article" class="content">
                    <h1 class="title is-size-1 is-size-3-mobile">{{ record.title }}</h1>

                    {% include 'partials/_record_meta.twig' with {'extended': true} %}

                    {# Output all fields, in the order as defined in the contenttype.
                    To change the generated html and configure the options, see:
                    https://docs.bolt.cm/templating #}
                    {% with { 'record': record, 'extended': true, 'repeaters': true, 'blocks': true } %}
                        {{ block('sub_fields', 'partials/_sub_fields.twig') }}
                    {% endwith %}

                    {# Uncomment this if you wish to dump the entire record to the client, for debugging purposes.
                    {{ dump(record) }}
                    #}

                    {{ include('partials/_recordfooter.twig', { 'record': record, 'extended': true }) }}
                </article>
            </div>
        </div>
    </div>
</section>

{% include "partials/_sub_recent_records.twig" %}

{% endblock main %}
